body{
	background-color: #eee;
}
img{
	max-width: 100%;
}
.max-h-50{
	max-height: 50%;
}
.w-80{width: 80%;}
.w-90{width: 90%;}
.w-100{width: 100%;}

.h-100{height: 100vh;}

h1{
	font-size: 18px;
	color: rgb(93,93,93);
}

.fs-10{font-size: 10px !important;}
.fs-11{font-size: 11px !important;}
.fs-12{font-size: 12px !important;}
.fs-13{font-size: 13px !important;}
.fs-14{font-size: 14px !important;}
.fs-15{font-size: 15px !important;}
.fs-16{font-size: 16px !important;}
.fs-17{font-size: 17px !important;}
.fs-18{font-size: 18px !important;}

.fw-100{font-weight: 100 !important;}
.fw-200{font-weight: 200 !important;}
.fw-300{font-weight: 300 !important;}
.fw-400{font-weight: 400 !important;}
.fw-500{font-weight: 500 !important;}
.fw-600{font-weight: 600 !important;}

.pos-abs{position: absolute;}

.br-5{border-radius: 5px !important;}
.br-10{border-radius: 10px !important;}
.br-15{border-radius: 15px !important;}
.br-20{border-radius: 20px !important;}

/* MARGINS */

/* BUTTONS */
.v-btn__content{
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0;
}

/* PADDINGS */
.px-10{padding-left:10px !important; padding-right: 10px !important;}
.px-20{padding-left:20px !important; padding-right: 20px !important;}
.px-30{padding-left:30px !important; padding-right: 30px !important;}
.px-40{padding-left:40px !important; padding-right: 40px !important;}
.px-50{padding-left:50px !important; padding-right: 50px !important;}

/* MODAL */
.modal{
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,.3);
	z-index: 9999;
	display: flex;
	align-items: center;
	justify-content: center;
}
.modal-wrapper{
	width: 90%;
	max-height: 90vh;
	background-color: #fff;
	box-shadow: 0 1px 10px rgba(0,0,0,.1);
	border-radius: 10px;
	padding: 30px 20px;
	overflow: auto;
}
.modal-header{
	/*padding: */
}

/* TRANSITION */
.fade-enter-active, .fade-leave-active {
    transition: all .2s ease;
    /*transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);*/
}
.fade-enter, .fade-leave-to{
    opacity: 0;
}

/* INPUTS */
::-moz-placeholder{
	font-size: 11px;
}
:-moz-placeholder{
	font-size: 11px;
}
:-ms-input-placeholder{
	font-size: 11px;
}
::-webkit-input-placeholder{
	font-size: 11px;
}
